<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Management System</title>
    <style>
      h1{
        font-size: 25px;
        text-align:center
      }
      #banner {
        width:100%;
        height:360px;
        object-fit: cover;
      }
      h3{
        font-family:Roboto;
        text-align:center
      }
      .bodytext{
        font: family Roboto;
        text-align:center
      }
      #container{
        max-width: 720px;
        margin: 0 auto
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Inventory Management System</h1>
      
      <img id="banner"src="https://fb3cf9b3-b4e4-4029-8bae-94d36321c702-00-23kat96u8dpu8.pike.replit.dev/static/banner.jpeg"height="320">
      <h3>What is Inventory Management System?</h3>
      <p class="bodytext">An inventory management system (or inventory system) is the process by which you track your goods throughout your entire supply chain, from purchasing to production to end sales. It governs how you approach inventory management for your business.</p>
      <h3>Who are you?</h3>
      <div style="tect-align:center;">
      <button>Contact us</button>
        <p>Copyright 2024,CY</p>
      </div>
    </div>
  </body>
</html>